@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /*Fonts*/
    --font-roboto: Roboto, sans-serif;
    --font-playfair: Playfair Display, serif;

    /*Colors*/
    --color-navbar-bg: #1a1a1d;
    --color-navbar-text: #9ca3af;
    --color-home-bg: #151515;
    --color-page-bg: #2b2e2f;
    --color-main-text: oklch(0.967 0.003 264.542);
    --color-decoration: oklch(0.75 0.183 55.934);

    --animate-page-enter: fade-scale 0.4s ease-in-out forwards;
    --animate-page-exit: fade-scale-reverse 0.4s ease-in-out forwards;
    --animate-custom-bounce-2-5: bounce-custom 2.5s infinite;
    --animate-custom-bounce-2: bounce-custom 2s infinite;
    --animate-custom-bounce-3: bounce-custom 3s infinite;
    --animate-custom-bounce-3-5: bounce-custom 3.5s infinite;
    --animate-custom-bounce-4: bounce-custom 4s infinite;
    --animate-custom-bounce-4-5: bounce-custom 4.5s infinite;
    --animate-custom-bounce-5: bounce-custom 5s infinite;
    --animate-custom-bounce-5-5: bounce-custom 5.5s infinite;


    @keyframes fade-scale {
        0% {
            opacity: 0;
            transform: scale(0.75);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes fade-scale-reverse {
        0% {
            opacity: 1;
            transform: scale(1);
        }
        100% {
            opacity: 0;
            transform: scale(0.75);
        }
    }

    @keyframes bounce-custom {
        0%,
        100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: none;
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}
